/* Core Files */
@import 'https://fonts.googleapis.com/css?family=Lato|Lobster|Sigmar+One|Oswald';
body {
  background-color: #efefef;
  margin: 0;
  padding: 0;
  font-family: 'lato';
}

* {
  outline: none;
  word-wrap: break-word;
}

/* Helper Classes */
.vertical-align {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.selected {
  text-decoration: underline !important;
}

/* Header */
.navbar-default {
  background-color: #7ea4f5;
  border: none;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  padding: 15px 0;
  margin: 0;
  z-index: 200;
}
.navbar-default .navbar-brand {
  color: #efefef;
  font-family: 'Sigmar One', cursive;
  font-size: 24px;
}
.navbar-default .navbar-brand:hover {
  color: #efefef;
}
.navbar-default .navbar-nav > li > a {
  color: #efefef;
}
.navbar-default .navbar-nav > li > a:hover {
  color: #efefef;
  text-decoration: underline;
  cursor: pointer;
}
.navbar-default input {
  min-width: 250px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  -webkit-top-left-radius: 50px;
  -webkit-bottom-left-radius: 50px;
  -moz-top-left-radius: 50px;
  -moz-bottom-left-radius: 50px;
  -ms-top-left-radius: 50px;
  -ms-bottom-left-radius: 50px;
  border: none;
  color: #2a2929;
}
.navbar-default .input-group-btn {
  border-left: 2px solid #efefef;
}
.navbar-default button {
  color: #2a2929;
  background-color: white;
  height: 34px;
  border-left: 5px solid #efefef;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-top-right-radius: 50px;
  -webkit-bottom-right-radius: 50px;
  -moz-top-right-radius: 50px;
  -moz-bottom-right-radius: 50px;
  -ms-top-right-radius: 50px;
  -ms-bottom-right-radius: 50px;
}
.navbar-default .navbar-toggle {
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
}
.navbar-default .navbar-collapse {
  overflow: hidden;
}

/* Footer */
footer {
  background-color: #7ea4f5;
  text-align: center;
  color: #efefef;
  font-family: 'Lato';
  font-size: 300;
}
footer h1 {
  display: inline-block;
  margin: 0;
  float: left;
  font-size: 20px;
  line-height: 82px;
}
footer a:hover {
  text-decoration: none;
}
footer p {
  display: inline-block;
  margin: 0;
  line-height: 82px;
}
footer p a {
  color: inherit;
  text-decoration: underline;
}
footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
  float: right;
}
footer ul li {
  display: inline-block;
  padding: 25px 0;
}
footer ul li img {
  width: 32px;
  margin-left: 5px;
}

@media all and (max-width: 767px) {
  footer h1 {
    text-align: center;
    float: initial;
    margin: 25px 0 0 0;
    line-height: initial;
  }
  footer p {
    line-height: initial;
  }
  footer ul {
    text-align: center;
    float: initial;
    line-height: initial;
  }
  footer ul li {
    margin: 0;
  }
}
/* Contact Modal */
#contact_modal textarea {
  resize: vertical;
}

#about_modal p {
  text-align: justify;
  text-justify: inter-word;
}

/* Page Specific Files */
#home_hero_section {
  background-color: #7ea4f5;
}
#home_hero_section img {
  width: 256px;
  margin: 25px auto 0 auto;
  border: 3px solid #efefef;
}
#home_hero_section h1, #home_hero_section p {
  text-align: center;
  margin: 0;
  font-family: 'Lobster', cursive;
  color: #efefef;
}
#home_hero_section h1 {
  margin-top: 10px;
}
#home_hero_section p {
  margin-bottom: 25px;
}

#home_articles a {
  color: inherit;
}
#home_articles .article_header h1 {
  margin: 25px 0;
  display: inline-block;
  font-family: 'oswald', cursive;
}
#home_articles .article_header .dropdown {
  margin: 30px 0 0 0;
}
#home_articles .article_header hr {
  margin: 0 0 25px 0;
  background-color: #3C3741;
}
#home_articles .article_container:nth-of-type(even) {
  background: white;
}
#home_articles img {
  padding: 20px 0;
}
#home_articles hr {
  margin: 10px 0;
  background-color: #2a2929;
  height: 1px;
}
#home_articles .text {
  padding: 0 0 0 20px;
  margin: 25px auto;
}
#home_articles h1 {
  margin: 0;
}
@media all and (max-width: 992px) {
  #home_articles .text {
    padding: 0;
  }
  #home_articles img {
    padding: 20px 0 0 0;
  }
}

#article_hero_section {
  background-color: #7ea4f5;
  height: 300px;
}
#article_hero_section img {
  width: 32px;
  margin: 10px auto 0 auto;
}
#article_hero_section h1, #article_hero_section p {
  text-align: center;
  margin: 0;
  font-family: 'Lobster', cursive;
  color: #efefef;
}
#article_hero_section h1 {
  margin-top: 25px;
}
#article_hero_section p {
  margin-top: 0;
  margin-bottom: 25px;
}

#article_container .content {
  background: white;
  padding: 25px;
  position: relative;
  bottom: 169px;
  margin-bottom: -144px;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  -webkit-bottom-right-radius: 7px;
  -webkit-bottom-left-radius: 7px;
  -moz-bottom-right-radius: 7px;
  -moz-bottom-left-radius: 7px;
  -ms-bottom-right-radius: 7px;
  -ms-bottom-left-radius: 7px;
  box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.5);
}
#article_container h1, #article_container h3 {
  display: inline-block;
  margin: 0;
  font-size: 18px;
  font-family: 'oswald', cursive;
}
#article_container img {
  margin-bottom: 25px;
}

#search_articles .article_header h3 {
  margin: 25px 0;
  display: inline-block;
  font-family: 'oswald', cursive;
}
#search_articles .article_header .dropdown {
  margin: 22px 0 0 0;
}
#search_articles .article_header hr {
  margin: 0 0 25px 0;
  background-color: #3C3741;
}
#search_articles .article_container:nth-of-type(even) {
  background: white;
}
#search_articles a {
  color: black;
}
#search_articles img {
  padding: 20px 0;
}
#search_articles hr {
  margin: 10px 0;
  background-color: #2a2929;
  height: 1px;
}
#search_articles .text {
  padding: 0 0 0 20px;
  margin: 25px auto;
}
#search_articles h1 {
  margin: 0;
}
@media all and (max-width: 992px) {
  #search_articles .text {
    padding: 0;
  }
  #search_articles img {
    padding: 20px 0 0 0;
  }
}

#admin_login_container h1 {
  margin: 0;
  text-align: center;
  font-family: "lobster", cursive;
  color: #34495E;
}
#admin_login_container hr {
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
}
#admin_login_container form {
  padding: 25px;
  margin: 150px 0;
  background-color: #E7E7DE;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.25);
}
#admin_login_container input[type="submit"] {
  width: 100%;
  margin: 10px 0 0 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background: #7ea4f5;
  color: #efefef;
  border: none;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  height: 35px;
}
#admin_login_container input[type="submit"]:hover {
  cursor: pointer;
  background: #66CC99;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}

#admin_add_post_container h1 {
  margin: 0;
  text-align: center;
  font-family: "lobster", cursive;
  color: #34495E;
}
#admin_add_post_container .add_post_header {
  text-align: left;
  display: inline-block;
}
#admin_add_post_container hr {
  background: rgba(0, 0, 0, 0.15);
  height: 1px;
}
#admin_add_post_container .main_form {
  padding: 25px;
  margin: 100px 0;
  background-color: #E7E7DE;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 8px 10px 75px rgba(0, 0, 0, 0.25);
}
#admin_add_post_container input[type="submit"] {
  width: 100%;
  margin: 10px 0 0 0;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  background: #7ea4f5;
  color: #efefef;
  border: none;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  height: 35px;
}
#admin_add_post_container input[type="submit"]:hover {
  cursor: pointer;
  background: #66CC99;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#admin_add_post_container input[type="file"] {
  display: none;
}
#admin_add_post_container button {
  background-color: transparent;
  border: none;
}
#admin_add_post_container textarea {
  resize: vertical;
}
#admin_add_post_container #select_image_container {
  margin-top: 15px;
}
#admin_add_post_container #select_image_container #select_image_label {
  width: 100%;
  background-color: #7ea4f5;
  color: #efefef;
  padding: 7px;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#admin_add_post_container #select_image_container #select_image_label:hover {
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
  background-color: #66CC99;
  cursor: pointer;
}
#admin_add_post_container .english {
  padding-left: 0;
}
#admin_add_post_container .spanish {
  padding-right: 0;
}
#admin_add_post_container .marginLabel {
  margin-top: 10px;
}
#admin_add_post_container .ratings label {
  background: #7ea4f5;
  border-color: #7ea4f5;
  color: #efefef;
}
#admin_add_post_container .ratings label:hover {
  background: #66CC99;
  border-color: #66CC99;
  -webkit-transition: background-color 200ms linear;
  -moz-transition: background-color 200ms linear;
  -o-transition: background-color 200ms linear;
  -ms-transition: background-color 200ms linear;
  transition: background-color 200ms linear;
}
#admin_add_post_container .ratings .active {
  background: #66CC99;
  border-color: #66CC99;
  color: #efefef;
}
@media all and (max-width: 1200px) {
  #admin_add_post_container .english, #admin_add_post_container .spanish {
    padding: 0;
  }
}

.tooltip-inner {
  min-width: 100px;
  max-width: 100%;
}

a:hover {
  cursor: pointer;
}
