body {
	background-color: $lightGrey;
	margin:0;
	padding:0;
	font-family:'lato';
}

* {
	outline:none;
	word-wrap:break-word;
}

/* Helper Classes */
.vertical-align {
    position:relative;
    top:50%;
    transform:translateY(-50%);
}

.selected {
	text-decoration: underline !important;
}

/* Header */
.navbar-default {
	background-color:$purple;
	border:none;
	@include border-radius(0);
	padding:15px 0;
	margin:0;
	z-index:200;

	.navbar-brand {
		color:$lightGrey;
		font-family: 'Sigmar One', cursive;
		font-size:24px;

		&:hover {
			color:$lightGrey;
		}
	}

	.navbar-nav > li > a {
		color:$lightGrey;

		&:hover {
			color:$lightGrey;
			text-decoration:underline;
			cursor:pointer;
		}
	}

	input {
		min-width:250px;
		@include border-left-radius(50px);
		border:none;
		color:$darkGrey;
	}

	.input-group-btn {
		border-left:2px solid $lightGrey;
	}

	button {
		color:$darkGrey;
		background-color:white;
		height:34px;
		border-left:5px solid $lightGrey;
		border:none;
		@include border-right-radius(50px);
	}

	.navbar-toggle {
		@include border-radius(50px); 
	}

	.navbar-collapse {
		overflow:hidden;
	}
}

/* Footer */
footer {
	background-color:$purple;
	text-align:center;
	color:$lightGrey;
	font-family: 'Lato';
	font-size: 300;
	
	h1 {
		display: inline-block;
		margin: 0;
		float: left;
		font-size: 20px;
		line-height: 82px;
	}

	a {
		&:hover {
			text-decoration: none;
		}
	}

	p {
	    display: inline-block;
	    margin: 0;
	    line-height: 82px;

	    a {
	    	color: inherit;
	    	text-decoration: underline;
	    }
	}

	ul {
		padding: 0;
		margin: 0;
		list-style: none;
		display: inline-block;
		float: right;

		li {
			display: inline-block;
			padding: 25px 0;

			img {
				width: 32px;
				margin-left: 5px;
			}
		}
	}
}

@media all and (max-width: 767px) {
	footer {
		h1 {
			text-align: center;
			float: initial;
			margin: 25px 0 0 0;
			line-height: initial;

		}

		p {
			line-height: initial;
		}

		ul {
			text-align: center;
			float: initial;
			line-height: initial;

			li {
				margin: 0;
			}
		}
	}
}

/* Contact Modal */
#contact_modal {
	textarea {
		resize:vertical;
	}
}

#about_modal {
	p {
		text-align: justify;
    text-justify: inter-word
	}
}