#admin_login_container {
	h1 {
		margin:0;
		text-align:center;
		font-family:"lobster", cursive;
		color:#34495E;
	}

	hr {
		background:rgba(0,0,0,.15);
		height:1px;
	}

	form {
		padding:25px;
		margin:150px 0;
		background-color:#E7E7DE;
		@include border-radius(5px);
		box-shadow: 8px 10px 75px rgba(0,0,0,0.25);
		-webkit-box-shadow: 8px 10px 75px rgba(0,0,0,0.25);
		-moz-box-shadow: 8px 10px 75px rgba(0,0,0,0.25); 
	}

	input[type="submit"] {
		width:100%;
		margin:10px 0 0 0;
		@include border-radius(5px);
		background:$purple;
		color:$lightGrey;
		border:none;
		@include fadeBG(200ms);
		height:35px;

		&:hover {
			cursor:pointer;
			background:#66CC99;
			@include fadeBG(200ms);
		}
	}
}

#admin_add_post_container {
	h1 {
		margin:0;
		text-align:center;
		font-family:"lobster", cursive;
		color:#34495E;
	}

	.add_post_header {
		text-align:left;
		display:inline-block;
	}

	hr {
		background:rgba(0,0,0,.15);
		height:1px;
	}

	.main_form {
		padding:25px;
		margin:100px 0;
		background-color:#E7E7DE;
		@include border-radius(5px);
		box-shadow: 8px 10px 75px rgba(0,0,0,0.25);
		-webkit-box-shadow: 8px 10px 75px rgba(0,0,0,0.25);
		-moz-box-shadow: 8px 10px 75px rgba(0,0,0,0.25);
	}

	input[type="submit"] {
		width:100%;
		margin:10px 0 0 0;
		@include border-radius(5px);
		background:$purple;
		color:$lightGrey;
		border:none;
		@include fadeBG(200ms);
		height:35px;

		&:hover {
			cursor:pointer;
			background:#66CC99;
			@include fadeBG(200ms);
		}
	}

	input[type="file"] {
		display:none;
	}

	button {
		background-color:transparent;
		border:none;
	}

	textarea {
		resize:vertical;
	}

	#select_image_container {
		margin-top:15px; 

		#select_image_label {
			width:100%;
			background-color:$purple;
			color:$lightGrey;
			padding:7px;
			text-align:center;
			@include border-radius(5px);
			@include fadeBG(200ms);

			&:hover {
				@include fadeBG(200ms);
				background-color:#66CC99;
				cursor:pointer;
			}
		}
	}

	.english {
		padding-left:0;
	}

	.spanish {
		padding-right:0;
	}

	.marginLabel {
		margin-top:10px;
	}

	.ratings {
		label {
			background:$purple;
			border-color:$purple;
			color:$lightGrey;

			&:hover {
				background:#66CC99;
				border-color:#66CC99;
				@include fadeBG(200ms);
			}
		}

		.active {
			background:#66CC99;
			border-color:#66CC99;
			color:$lightGrey;
		}
	}

	@media all and (max-width: 1200px) {
		.english, .spanish {
			padding:0;
		}
	}
}

.tooltip-inner {
	min-width:100px;
    max-width:100%; 
}

a {
	&:hover {
		cursor: pointer;
	}
}
