#article_hero_section {
	background-color:$purple;
	height:300px;

	img {
		width:32px;
		margin:10px auto 0 auto;
	}

	h1, p {
		text-align:center;
		margin:0;
		font-family: 'Lobster', cursive;
		color:$lightGrey;
	}

	h1 {
		margin-top:25px;
	}

	p {
		margin-top:0;
		margin-bottom:25px;
	}	
}

#article_container {
	.content {
		background:white;
		padding:25px;
		position:relative;
		bottom:169px;
		margin-bottom:-144px;
		@include border-bottom-radius(7px);
		box-shadow: 8px 10px 75px rgba(0,0,0,0.5);
		-webkit-box-shadow: 8px 10px 75px rgba(0,0,0,0.5);
		-moz-box-shadow: 8px 10px 75px rgba(0,0,0,0.5);
	}

	h1, h3 {
		display:inline-block;
		margin:0;
		font-size:18px;
		font-family: 'oswald', cursive;
	}

	img {
		margin-bottom:25px;
	}
}