#home_hero_section {
	background-color:$purple;

	img {
		width:256px;
		margin:25px auto 0 auto;
		border:3px solid $lightGrey;
	}

	h1, p {
		text-align:center;
		margin:0;
		font-family: 'Lobster', cursive;
		color:$lightGrey;
	}

	h1 {
		margin-top:10px;
	}

	p {
		margin-bottom:25px;
	}
}

#home_articles {
	a {
		color:inherit;
	}

	.article_header {
		h1 {
			margin:25px 0;
			display:inline-block;
			font-family:'oswald', cursive;
		}

		.dropdown {
			margin:30px 0 0 0;
		}

		hr {
			margin:0 0 25px 0;
			background-color:#3C3741;
		}
	}
	.article_container:nth-of-type(even) {
		background:white;
	}

	img {
		padding:20px 0;
	}

	hr {
		margin:10px 0;
		background-color:$darkGrey;
		height:1px;
	}

	.text {
		padding:0 0 0 20px;
		margin:25px auto;
	}

	h1 {
		margin:0;
	}
	
	@media all and (max-width: 992px) {
		.text {
			padding:0;
		}

		img {
			padding:20px 0 0 0;
		}
	}
}
