#search_articles {
	.article_header {
		h3 {
			margin:25px 0;
			display:inline-block;
			font-family:'oswald', cursive;
		}

		.dropdown {
			margin:22px 0 0 0;
		}

		hr {
			margin:0 0 25px 0;
			background-color:#3C3741;
		}
	}
	.article_container:nth-of-type(even) {
		background:white;
	}

	a {
		color: black;
	}

	img {
		padding:20px 0;
	}

	hr {
		margin:10px 0;
		background-color:$darkGrey;
		height:1px;
	}

	.text {
		padding:0 0 0 20px;
		margin:25px auto;
	}

	h1 {
		margin:0;
	}
	
	@media all and (max-width: 992px) {
		.text {
			padding:0;
		}

		img {
			padding:20px 0 0 0;
		}
	}
}